* {
font-family: 'Merriweather Sans', sans-serif;
}

html {
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:no-repeat;
background: rgb(165,151,196);
background: radial-gradient(circle, rgba(165,151,196,1) 0%, rgba(223,213,245,1) 92%);
}

h1 {
font-family: 'Merriweather Sans', sans-serif;
font-size: 40px;
background: linear-gradient(120deg, rgba(30,22,46,0.8) 0%, rgba(27,12,61,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h2,h3,h4 {
font-family: 'Merriweather Sans', sans-serif;
}

h2 {
font-size: 1.33em;
}

h3 {
font-size: 1.em;
}

hr { 
height: 30px; 
border-style: solid; 
border-color: #f9f5fc; 
border-width: 3px 0 0 0; 
border-radius: 20px; 
margin: 1.25em 0 0;
} 

hr:before { 
display: block; 
content: "";
height: 20px; 
margin-top: -31px; 
border-style: solid; 
border-color: #f9f5fc; 
border-width: 0 0 3px 0; 
border-radius: 20px; 
}

a {
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
color: #edf0fa;
}

a:hover {
color: rgba(12,12,6,0.8);
}

p{
color: rgba(27,12,61,1);
}

header{
display: block;
left: 0;
top: 0;
width: 100%;
text-align: left;
background: linear-gradient(180deg, rgba(12,12,6,0.8) 90%, rgba(165,151,196,0.0) 100%);
color: #edf0fa;
}

div.topbar {
align-items: flex-start;
display: flex;
}

img.logo {
display: inline-block;
height: 200px;
}

h1.title {
display: inline-block;
font-family: 'Alice', serif;
font-size: 80px;
padding-left: 38px;
background: linear-gradient(180deg, rgba(237, 240, 250,0.8) 0%, rgba(165,151,196,0.05) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

ul {
list-style-type:disc;
}

footer{
display: block;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
font-size: 12px;
background: linear-gradient(180deg, rgba(165,151,196,0.0) 0%, rgba(12,12,6,0.8) 20%)
}

footer p {
color: #edf0fa;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav a {
  float: left;
  color: #edf0fa;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
-webkit-transition: background-color .5s ease-out;
-moz-transition: background-color .5s ease-out;
-o-transition: background-color .5s ease-out;
transition: background-color .5s ease-out;
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
background-color: #edf0fa;
color: rgba(27,12,61,1);
}

.active {
  background-color: #edf0fa;
  color: white;
}

@import { 
url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
}
	
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}