* {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
}

html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:no-repeat;
background: rgb(75,75,85);
background: radial-gradient(circle, rgba(115,115,125,0.6) 0%, rgba(25,25,85,0.6) 50%, rgba(50,50,85,1) 100%);
}

body {
	
}

h1 {
font-family: 'Oswald', sans-serif;
font-size: 32px;
line-height: 48px;
background: radial-gradient(circle, rgba(242,242,242,0.8) 0%, rgba(218,218,218,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h2,h3,h4 {
font-family: 'Oswald', sans-serif;
}

h2 {
font-size: 1.33em;
}

h3 {
font-size: 1.em;
}

hr { 
height: 5px; 
border-style: outset; 
border-color: #f9f5fc; 
width: 100%;
background-color: rgba(37,33,38,0.3);
} 

a {
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
color: #edf0fa;
}

a:hover {
color: rgba(235,215,25,0.8);
}

p{
color: #edf0fa;
}

header{
display: block;
left: 0;
top: 0;
width: 100%;
text-align: left;
background: rgba(37,33,38,0.3);
}

div.topbar {
align-items: flex-start;
display: flex;
}

img.logo {
display: inline-block;
background: rgb(255,255,255,0.0);
background: radial-gradient(circle, rgba(200,200,200,0.8) 0%, rgba(150,150,150,0.4) 20%, rgba(100,100,100,0) 40%);
align-self: center;
height: 150px;
padding-left: 10px;
padding-top: 10px;
}

div.title {
display: inline-block;
height: 200px;
width: 100%;
}

div.title h1 {
font-family: 'Montserrat', sans-serif;
font-size: 160px;
line-height: 200px;
text-align: justify;
align-self: center;
margin: auto;
background: linear-gradient(180deg, rgba(242,242,242,0.8) 0%, rgba(138,138,138,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

div.title p {
font-family: 'Oswald', sans-serif;
margin: auto;
font-size: 20px;
line-height: 15px;
color: #edf0fa;
text-align: center;
}

ul {
list-style-type:disc;
color: #edf0fa;
}

footer{
position: absolute;
height: 2em;
left: 0;
bottom: 0;
margin: 0;
padding: 0;
width: 100%;
text-align: center;
background: linear-gradient(180deg, rgba(165,151,196,0.0) 0%, rgba(37,33,38, 0.4) 20%)
}

footer p, footer a {
font-size: 12px;
color: #edf0fa;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-flow: row nowrap;
}

.flex-container .box {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 1;
	color: #edf0fa;
	background: rgba(37,33,38,0.4);
	padding: 10px;
	margin: 5px;
}

.flex-container .box h1 {
	text-align: center;
}

.flex-container .box p {
	color: #edf0fa;
}

.flex-container .box .buttonbox {
	display: flex;
	position: absolute;
	bottom: 2px;
	left: 2px;
	right: 2px;
	background-color: rgba(37,33,38,0.4);
}

.flex-container .box .buttonbox .button {
	height: 75px;
	text-align: center;
	font-size: 14px;
	padding: 2px;	
	text-decoration: none;
	width: 100%;
}

.flex-container .box .buttonbox .button:hover {
-webkit-transition: background-color .5s ease-out;
-moz-transition: background-color .5s ease-out;
-o-transition: background-color .5s ease-out;
transition: background-color .5s ease-out;
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
background-color: #edf0fa;
color: rgba(37,33,38,1);
}

.topnav {
  overflow: hidden;
  background-color: rgba(37,33,38,0.6);
  position: relative;
}

.topnav a {
  float: left;
  color: #edf0fa;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
-webkit-transition: background-color .5s ease-out;
-moz-transition: background-color .5s ease-out;
-o-transition: background-color .5s ease-out;
transition: background-color .5s ease-out;
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
background-color: #edf0fa;
color: rgba(37,33,38,0.8);
}

.active {
  background-color: #edf0fa;
  color: white;
}

.spacecakes {
	height: 275px;
	padding: 20px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@import { 
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald&display=swap');
}
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}