* {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 24px;
}

html {
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:no-repeat;
background: rgb(165,151,196);
background: radial-gradient(circle, rgba(134,166,166,1) 0%, rgba(93,115,115,1) 100%);
}

h1 {
font-family: 'Merriweather Sans', sans-serif;
font-size: 32px;
background: radial-gradient(circle, rgba(62,56,64,0.8) 0%, rgba(37,33,38,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h2,h3,h4 {
font-family: 'Merriweather Sans', sans-serif;
}

h2 {
font-size: 1.33em;
}

h3 {
font-size: 1.em;
}

hr { 
height: 5px; 
border-style: outset; 
border-color: #f9f5fc; 
width: 100%;
} 

a {
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
color: #edf0fa;
}

a:hover {
color: rgba(115,36,57,0.8);
}

p{
color: rgba(37,33,38,1);
}

header{
display: block;
left: 0;
top: 0;
width: 100%;
text-align: left;
background: rgba(37,33,38,0.8);
#color: #edf0fa;
}

div.topbar {
align-items: flex-start;
display: flex;
}

img.logo {
display: inline-block;
height: 200px;
padding-left: 10px;
padding-top: 5px;
}

div.title {
display: inline-block;
height: 200px;
width: 100%;
}

div.title h1 {
font-family: 'Serif', serif;
font-size: 160px;
line-height: 140px;
text-align: justify;
padding-left: 38px;
margin: 0px;
background: linear-gradient(180deg, rgba(237, 240, 250,0.8) 0%, rgba(165,151,196,0.0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

div.title p {
font-family: 'Serif', serif;
font-style: italic;
margin: 0px;
font-size: 20px;
line-height: 22px;
padding-left: 38px;
color: #edf0fa;
text-align: center;
}

ul {
list-style-type:disc;
}

footer{
display: block;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
background: linear-gradient(180deg, rgba(165,151,196,0.0) 0%, rgba(37,33,38, 0.8) 20%)
}

footer p, footer a {
font-size: 12px;
color: #edf0fa;
}

.topnav {
  overflow: hidden;
  background-color: rgba(37,33,38,0.8);
  position: relative;
}

.topnav a {
  float: left;
  color: #edf0fa;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
-webkit-transition: background-color .5s ease-out;
-moz-transition: background-color .5s ease-out;
-o-transition: background-color .5s ease-out;
transition: background-color .5s ease-out;
-webkit-transition: color .5s ease-out;
-moz-transition: color .5s ease-out;
-o-transition: color .5s ease-out;
transition: color .5s ease-out;
background-color: #edf0fa;
color: rgba(37,33,38,1);
}

.active {
  background-color: #edf0fa;
  color: white;
}

@import { 
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans&display=swap');
}
	
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}